
@{
    ViewData["Title"] = "میزکار";
    Layout = "~/Views/Shared/_Refrence.cshtml";

}
@section styles{
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Slick.js styles -->
    <link rel="stylesheet" href="~/vendors/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="~/vendors/slick/slick-theme.css" type="text/css">
    <!-- Prism -->
    <link rel="stylesheet" href="~/vendors/prism/prism.css" type="text/css">


    <!-- App styles -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
    <style>
        .myCard {
            height: 37%;
        }

        .table-striped > tr {
            text-indent: 30px;
        }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 600px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }


        input[type="number"] {
            min-width: 50px;
        }
    </style>

}
<div class="row">
    <div class="col-md-12">

        <div class="slick-js">
            <div>
                <div class="card bg-primary-bright text-primary">
                    <div class="card-body text-center">
                        <h2 id="factor" class="font-weight-bold"></h2>
                        <div>فروش‌ها</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-secondary-bright text-secondary">
                    <div class="card-body text-center">
                        <h2 id="order" class="font-weight-bold"></h2>
                        <div>سفارشات</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-success-bright text-success">
                    <div class="card-body text-center">
                        <h2 id="adver" class="font-weight-bold"></h2>
                        <div>آگهی ها</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-info-bright text-info">
                    <div class="card-body text-center">
                        <h2 id="employee" class="font-weight-bold"></h2>
                        <div>کارجویان</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-dark-bright text-dark">
                    <div class="card-body text-center">
                        <h2 id="employer" class="font-weight-bold"></h2>
                        <div> کارفرمایان</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-success-bright text-dark">
                    <div class="card-body text-center">
                        <h2 id="ticket" class="font-weight-bold"></h2>
                        <div>  تیکت ها</div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>




    </div>

</div>
<!-- end::main content -->
@section Scripts{
    <script type="text/javascript" src="~/assets/js/examples/dashboard.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    @*<script src="~/Js/JwtRefrence.js"></script>*@
    <script>
        $(function () {
          
               $.ajax({
                    beforeSend: setAuthHeader,
                    method: "Get",
                   url: '/api/Account/GetRefrenceDashboardInfo',
                    contentType: 'application/json',
                    data: {},
                   success: function (data) {
                       //toastr.success(data.message);
                       $("#factor").html(data.resul.factorsCount);
                       $("#adver").html(data.resul.adverCount);
                       $("#employee").html(data.resul.employeeCount);
                       $("#employer").html(data.resul.employerCount);
                       $("#ticket").html(data.resul.ticketCount);
                       $("#order").html(data.resul.ordersCount);

                    },
                   error: function (error) {
                       tosastr.error(error.message);

                    }
            });
            $('.slick-js').slick({
                speed: 500,
                arrows: false,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });


        })


        //set info top
         //$("#employee").html('@ViewBag.EmployeeCount')
        //$("#employer").html('@ViewBag.EmployerCount')
        //$("#ticket").html('@ViewBag.TicketCount')
        //$("#factor").html('@ViewBag.FactorsCount')
        //$("#adver").html('@ViewBag.AdverCount')
        //$("#order").html('@ViewBag.OrdersCount')
        //

    </script>
}