
@{
    ViewData["Title"] = "میزکار";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section styles{
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Slick.js styles -->
    <link rel="stylesheet" href="~/vendors/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="~/vendors/slick/slick-theme.css" type="text/css">
    <!-- Prism -->
    <link rel="stylesheet" href="~/vendors/prism/prism.css" type="text/css">


    <!-- App styles -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
    <style>
        .myCard {
            height: 37%;
        }

        .table-striped > tr {
            text-indent: 30px;
        }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 600px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }


        input[type="number"] {
            min-width: 50px;
        }
    </style>

}
<div class="row">
    <div class="col-md-12">

        <div class="slick-js">
            <div>
                <div class="card bg-primary-bright text-primary">
                    <div class="card-body text-center">
                        <h2 id="factor" class="font-weight-bold"></h2>
                        <div>فروش‌ها</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-secondary-bright text-secondary">
                    <div class="card-body text-center">
                        <h2 id="order" class="font-weight-bold"></h2>
                        <div>سفارشات</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-success-bright text-success">
                    <div class="card-body text-center">
                        <h2 id="adver" class="font-weight-bold"></h2>
                        <div>آگهی ها</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-info-bright text-info">
                    <div class="card-body text-center">
                        <h2 id="employee" class="font-weight-bold"></h2>
                        <div>کارجویان</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-dark-bright text-dark">
                    <div class="card-body text-center">
                        <h2 id="employer" class="font-weight-bold"></h2>
                        <div> کارفرمایان</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-success-bright text-dark">
                    <div class="card-body text-center">
                        <h2 id="ticket" class="font-weight-bold"></h2>
                        <div>  تیکت ها</div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">تعداد آگهی ها</h6>
                        </div>
                        <div id="number-of-orders"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title mb-0">بالاترین فروش</h6>
                            <a href="#">همه‌ی فروش‌ها</a>
                        </div>
                    </div>
                    <table class="table table-striped">
                    </table>
                </div>
                <div class="card card-body myCard">
                    <div class="d-flex align-items-center">
                        <div class="position-relative mr-3 text-center">
                            <div id="circle-1" class="circle"></div>
                            <div class="position-absolute a-0 d-flex flex-column align-items-center justify-content-center">
                                <h4 class="mb-0" id="responsePercent">@ViewBag.TicketResponsePersent %</h4>
                                <span class="font-size-11 text-uppercase text-muted">پایان‌یافته</span>
                            </div>
                        </div>
                        <div>
                            <p class="mb-1">زمان رسیدگی به شکایت</p>
                            <p class="text-muted mb-1">
                                <small>زمان متوسط برای رفع شکایات صرف شده است.</small>
                            </p>
                            <h3 class="mb-0" id="timeForResponse">
                                @ViewBag.AvaregeOfTicketResponse ساعت
                                <small></small>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">وضعیت کاربران</h6>
                        </div>
                        <div class="text-center mb-3">
                            <ul class="list-inline">
                                <li class="list-inline-item text-uppercase font-size-11">
                                    <i class="fa fa-circle text-primary mr-1"></i> کارجویان جدید
                                </li>
                                <li class="list-inline-item text-uppercase font-size-11">
                                    <i class="fa fa-circle text-success mr-1"></i> کارفرمایان جدید
                                </li>
                                <li class="list-inline-item text-uppercase font-size-11">
                                    <i class="fa fa-circle text-info mr-1"></i> آگهی های جدید
                                </li>
                            </ul>
                        </div>
                        <canvas id="chart-ticket-status"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">پرفروشترین محصولات</h6>
                            <div>

                                <span class="dropdown">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <!-- <canvas id="hot-products"></canvas>
                        <div id="hot-products-legends"></div> -->



                        <div id="center">
                            <div id="canvas" width="600" height="400"></div>
                        </div>
                        <!-- <div class="card">
                                <canvas id="countries"></canvas>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">درآمد</h6>
                            <div>
                                <a href="#" class="mr-3">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <span class="dropdown">

                                </span>
                            </div>
                        </div>
                        <div id="revenue"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="apex_chart_two" style="height: 300px"></div>
                    </div>
                </div>

                @*<div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">درآمد</h6>
                            <div>
                                <a href="#" class="mr-3">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <span class="dropdown">

                                </span>
                            </div>
                        </div>
                        <div id="revenue"></div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- end::main content -->
@section Scripts{
    <script type="text/javascript" src="~/assets/js/examples/dashboard.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        $(function () {
            $('.slick-js').slick({
                speed: 500,
                arrows: false,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });


        })


        //set info top
         $("#employee").html('@ViewBag.EmployeeCount')
        $("#employer").html('@ViewBag.EmployerCount')
        $("#ticket").html('@ViewBag.TicketCount')
        $("#factor").html('@ViewBag.FactorsCount')
        $("#adver").html('@ViewBag.AdverCount')
        $("#order").html('@ViewBag.OrdersCount')
        //
        function getDataForCicleChart() {
            return $.ajax({
                beforeSend: setAuthHeader,
                method: "Get",
                url: '/GetDataForCircleChart',
                contentType: 'application/json',
                data: {},


                success: function (data) {
                    for (item of data) {

                        let newItem = `
                           <tr style="textIndent:'30px';"> <td>${item.name}</td>
                            <td>${item.y}</td><tr/>
                        `;

                        $(".table-striped").append(newItem);
                    }

                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }

        function getDataForLineChart() {
            return $.ajax({
                beforeSend: setAuthHeader,
                method: "Get",
                url: '/GetDataForLineChart',
                contentType: 'application/json',
                data: {},


                success: function (data) {


                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }

        function getDataForLineChartComIn() {
            return $.ajax({
                beforeSend: setAuthHeader,
                method: "Get",
                url: '/GetDataForLineChartForComin',
                contentType: 'application/json',
                data: {},


                success: function (data) {

                    console.log(data);
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }

        function getDataForColumnChart() {
            return $.ajax({
                beforeSend: setAuthHeader,
                method: "Get",
                url: '/GetDataForColumnChart',
                contentType: 'application/json',
                data: {},


                success: function (data) {

                    console.log(data);
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }




        getDataForLineChart().then((data) => lineChart(data.lable, data.data)).catch((data) => console.log(data));
        getDataForCicleChart().then((data) => circleChart(data)).catch((data) => console.log(data));
        getDataForLineChartComIn().then((data) => lineChartForIncome(data.lable, data.data)).catch((data) => console.log(data));
        getDataForColumnChart().then((data) => bar_chart(data.adverCount, data.employerCount, data.employeeCount,data.lable)).catch((data) => console.log(data));




        function circleChart(data) {
            Highcharts.chart('canvas', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'پرفروش ترین تعرفه ها در سال گذشته'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>'
                        }
                    }
                },
                series: [{
                    name: 'Plan',
                    colorByPoint: true,
                    data: data
                }]
            });
        }
        function lineChart(label, data) {
            Highcharts.chart('number-of-orders', {

                title: {
                    text: 'تعداد آگهی های ثبت شده در ماه اخیر'
                },

                subtitle: {
                    //text: 'Source: thesolarfoundation.com'
                },

                yAxis: {
                    title: {
                        text: 'تعداد آگهی ها'
                    }
                },

                xAxis: {
                    categories: label  /*['1399/01/01', '1399/01/01', '1399/01/01']*/
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        //label: {
                        //    connectorAllowed: false
                        //},
                        //pointStart: 2010
                    }
                },

                series: [{
                    name: 'آگهی',
                    data: data
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }
        function lineChartForIncome(label, data) {
            Highcharts.chart('revenue', {

                title: {
                    text: 'درامد هر ماه'
                },

                subtitle: {
                    //text: 'Source: thesolarfoundation.com'
                },

                yAxis: {
                    title: {
                        text: 'تومان'
                    }
                },

                xAxis: {
                    categories: label  /*['1399/01/01', '1399/01/01', '1399/01/01']*/
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    formatter: function () {
                        return `<b> ${this.x} : </b><hr/><b>` + this.y + ` تومان </b>`;
                    }
                },

                plotOptions: {
                    series: {
                        //label: {
                        //    connectorAllowed: false
                        //},
                        //pointStart: 2010
                    }
                },

                series: [{
                    name: 'درامد',
                    data: data
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }
        function bar_chart(data1,data2,data3,lable) {
            if ($('#chart-ticket-status').length > 0) {
                var dataSource = [
                    { country: "USA", hydro: 59.8, oil: 937.6, gas: 582, coal: 564.3, nuclear: 187.9 },
                    { country: "China", hydro: 74.2, oil: 308.6, gas: 35.1, coal: 956.9, nuclear: 11.3 },
                    { country: "Russia", hydro: 40, oil: 128.5, gas: 361.8, coal: 105, nuclear: 32.4 },
                    { country: "Japan", hydro: 22.6, oil: 241.5, gas: 64.9, coal: 120.8, nuclear: 64.8 },
                    { country: "India", hydro: 19, oil: 119.3, gas: 28.9, coal: 204.8, nuclear: 3.8 },
                    { country: "Germany", hydro: 6.1, oil: 123.6, gas: 77.3, coal: 85.7, nuclear: 37.8 }
                ];

                // Return with commas in between
                var numberWithCommas = function (x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                };

                var dataPack1 = data1;
                var dataPack2 = data2;
                var dataPack3 = data3;
                var dates = lable;

                var bar_ctx = document.getElementById('chart-ticket-status');

                bar_ctx.height = 100;

                new Chart(bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: dates,
                        datasets: [
                            {
                                label: 'آگهی های جدید ',
                                data: dataPack1,
                                backgroundColor: '#33b5e5',
                                hoverBorderWidth: 0
                            },
                            {
                                label: 'کارفرمایان جدید',
                                data: dataPack2,
                                backgroundColor: '#00c851',
                                hoverBorderWidth: 0
                            },
                            {
                                label: 'کارجویان جدید',
                                data: dataPack3,
                                backgroundColor: '#1565c0 ',
                                hoverBorderWidth: 0
                            },
                        ]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        animation: {
                            duration: 10,
                        },
                        tooltips: {
                            mode: 'label',
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    return data.datasets[tooltipItem.datasetIndex].label + ": " + numberWithCommas(tooltipItem.yLabel);
                                }
                            }
                        },
                        scales: {
                            xAxes: [{
                                stacked: true,
                                gridLines: { display: false },
                                ticks: {
                                    fontSize: 11,
                                    fontColor: '#333436'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    callback: function (value) {
                                        return numberWithCommas(value);
                                    },
                                    fontSize: 11,
                                    fontColor: '#333436'
                                },
                            }],
                        }
                    },
                    plugins: [{
                        beforeInit: function (chart) {
                            chart.data.labels.forEach(function (value, index, array) {
                                var a = [];
                                a.push(value.slice(0, 5));
                                var i = 1;
                                while (value.length > (i * 5)) {
                                    a.push(value.slice(i * 5, (i + 1) * 5));
                                    i++;
                                }
                                array[index] = a;
                            })
                        }
                    }]
                }
                );
            }
        }
        //percent ticket answer
       if ($('#circle-1').length) {
            $('#circle-1').circleProgress({
                startAngle: 1.55,
                value: '@ViewBag.TicketResponsePersent'/100,
                size: 90,
                thickness: 10,
                fill: {
                    color: '#1565c0'
                }
            });
        }




















        'use strict';

        function getParameterByName(params) {
            return "";
        }


        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }


        async function getData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                //body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }


        var myData = [];

        function apex_chart_two() {

            //fetch

            var dates = [];
            var spikes = [5, -5, 3, -3, 8, -8]


            for (var i = 0; i < myData.length; i++) {
                let d = new Date(myData[i].date);
                var innerArr = [d.getTime(), myData[i].value];
                dates.push(innerArr)
            }

            var options = {
                chart: {

                    type: 'area',
                    stacked: false,
                    height: 350,
                    zoom: {
                        type: 'x',
                        enabled: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                series: [{
                    name: 'تعداد بازدید روز',
                    data: dates
                }],
                markers: {
                    size: 0,
                },
                title: {
                    text: 'بازدید ها',
                    align: 'right'
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                },
                yaxis: {
                    min: 1,
                    max: 999,
                    labels: {
                        formatter: function (val) {
                            return (val).toFixed(0);
                        },
                    },
                    title: {
                        text: 'بازدید',
                        align: 'right'
                    },
                },
                xaxis: {
                    type: 'datetime',
                },

                tooltip: {
                    shared: false,
                    y: {
                        formatter: function (val) {
                            return (val).toFixed(0)
                        }
                    }
                }
            }

            var chart = new ApexCharts(
                document.querySelector("#apex_chart_two"),
                options
            );

            chart.render();
        }


        $(document).ready(function () {
            Apex.chart = {
                fontFamily: 'inherit',
                //locales: [{
                //    "name": "fa",
                //    "options": {
                //        "months": ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهرویور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                //        "shortMonths": ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهرویور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                //        "days": ["یکشنبه", "دوشنبه", "سه‌شنبه", "چهارشنبه", "پنجشنبه", "جمعه", "شنبه"],
                //        "shortDays": ["ی", "د", "س", "چ", "پ", "ج", "ش"],

                //    }
                //}],
                //defaultLocale: "fa"
            }

            getData('/Admin/SiteVisit').then(data => {
                myData = data;
                setTimeout(() => {
                    apex_chart_two();
                }, 456)
            });




        });

    </script>
}